body{
  /*background-color:#1e9fb6;*/
  background-color:#c0dfdf;
  margin: 0;
}
.holder{
max-width: 960px;
margin: 0 auto;
 
}
.holder0{
    max-width: 960px;
    margin: 0 auto;
    /*background-color:#7e631b;*/
    background-color:#999b3e;
 }
 .texto{
    font-family: 'ubuntu';
    font-size: 0.9em;
    line-height: 2em;
    padding: 1em 1em 0.1em;
    margin-top: 0.5em;
    color:#012e36;
    text-align: center;
 
} 
.texto1{
    font-family: 'ubuntu';
    font-size: 0.9em;
    line-height: 2em;
    padding: 0.5em 2em;
   margin-top: 1em;
   color:#012e36;
}

.container{
    width: 100%;
      font-family: 'Philosopher', sans-serif;
      text-align: center;
      padding: 0.5em 1em; 
      max-width: 960px;
      margin: 0 auto;
    }

    .container-md{
        margin: 0 auto;
        background-color: #c0dfdf; 
        padding: 1em; 
        width: 960px;
        text-align: center;
        display: flex;
        }    