/* inicio home*/
body{
    /*background-color:#1e9fb6;*/
    background-color:#c0dfdf;
    margin: 0;
}

.header{
    background: #012e36;
    padding: 1.5em 5em;
    display: flex;
    justify-content: space-evenly;
}

.logo{
  width: 12em;
 
  margin-left: 1em;
  margin-top: 0.15em;
}
.holder{
max-width: 960px;
margin: 0 auto;
 
}
.holder0{
    max-width: 960px;
    margin: 0 auto;
    /*background-color:#7e631b;*/
    background-color:#999b3e;
  }

.container{
    width: 100%;
}
.container{
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    padding: 0.5em 1em; 
    max-width: 960px;
    margin: 0 auto;
}
.container a{
 
    text-decoration: none;
    text-align:center;
    font-size: 20px;
    margin: 0 10px;
    padding: 10px 10px; 
    color: white;
    position: relative;
    cursor: pointer;
    z-index: 0;
}
.circleBehind a:before, .circleBehind a:after{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #04b0ce;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
    
}

.circleBehind a:after{
    border-width: 2px;
    transition: all 0.4s;
}

.circleBehind a:hover:before{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.circleBehind a:hover:after{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.footer{
    display: flex;
    justify-content:space-evenly;
    background:#c0dfdf;
    font-family: 'ubuntu';
    font-size: 1em;
    padding: 1.5em 5em;
    clear: both;
    text-align:center;
    color:#012e36;
} 
 
 
 .texto{
    font-family: 'ubuntu';
    font-size: 0.9em;
    line-height: 2em;
    padding: 1em 1em 0.1em;
    margin-top: 0.5em;
    color:#012e36;
    text-align: center;
 
} 
.texto1{
    font-family: 'ubuntu';
    font-size: 0.9em;
    line-height: 2em;
    padding: 0.5em 2em;
   margin-top: 1em;
   color:#012e36;
}


/*fin home*/

/*inicio portfolio*/
.fila2{
    background-color:none;
    margin-top: 0;
    display: flex;
}

.clase-11{
  
   background-color:#dbe0e0;
    width: 45%;
}
.clase-06{
  /*background-color: white;*/
  width: 55%;
  border: 0.1 em solid #04b0ce;
  margin-left: 1.5em;
}
.clase-07{
  /*background-color: white;*/
  width: 38%;
  border: 0.1 em solid #04b0ce;
}
.clase-08{
    /*background-color: white;*/
    width: 55%;
    border: 0.1 em solid #04b0ce;
}
.clase-09{
  /*  background-color:#c806f8;*/
    width: 50%;
}
.clase-10{
   /* background-color:#4f5053;*/
    width: 50%;
}

  .galeria .foto{
    background-color:none;
    float: left;
   /*margin: 1em 0 1em 1em;*/
    border: 1px solid white;
    padding: 0.1em;
    box-sizing: border-box;
  }
  .galeria .foto img{
    width: 70%;
    display: block;
  }
 /* .galeria .foto:nth-child(5n+1){
    margin-left: 0;
  }*/
  .agrandar{
    background-color: white;
      margin: 0 auto;
      margin-top: 0.5em;
      margin-bottom: 0.2em;
      padding: 0.5em;
      font-size: 15px;
      color: black;
      transition: all 0.3s ease;
  }
  .agrandar img{
    width: 80%; 
   display: inline-flex;
   flex-direction: row;
  }
  .agrandar:hover {
    transform: scale(2.0);
  }
  /*fin portfolio*/
  /*inicio servicios*/
  
.personas{
  overflow: hidden;
  display: flex;
}

.persona{
  width: 90%;
  border-radius: 1px solid white;
  border-radius: 0.25em;
 /* float:none;
  margin-left: 0%;
  box-sizing: border-box;*/
}
.persona{
  text-align: center;
}
.persona img{
border-radius: 50%;
box-shadow: 0 0 5px skyblue;
margin: 0.8em 0 1em;
max-width: 80%;
}
.persona a{
font-size: 2em;  
text-align: center;
font-weight: normal;
color: darkslategray;
margin: 0 auto;
margin-top: 1em;
margin-bottom: 1em;
}


.persona p{
font-size: 0.7em;
color: black;
margin-top: 0 1em 1em;
}
.persona:first-child{
  margin-left: 1em;
}
.persona:last-child{
  margin-right: 1em;
}
  /*fin servicios*/

  /*inicio formulario*/

.columnas{
  overflow: visible;
}
.right{
  margin-left: 12em;
}

.columna{
  width: 50%;
  box-sizing: border-box;
  padding: 0.6em;
  margin-left: 3em;
}
.columna.left{
  border-right: 1px solid white;
}
.columna.right ul li{
  font-size: 0.8em;
}
.formulario label{
  vertical-align: top;
  width: 20%;
  display: inline-block;
}
.formulario input, .formulario textarea{
background-color: rgb(248, 248, 248);
border-radius: 5px;
border: 1px solid rgb(192, 188, 188);
padding: 0.4em 0.6em;
font-size: 0.8em;
width: 70%;   
}
.formulario input [type="submit"]{
  background-color: aquamarine;
  box-shadow: 0 0 10px black;
  color: white;
  font-size: 1em;
  width: auto;
  cursor: pointer;
}
.formulario textarea{
  height: 10em;
  resize: none;
}
.formulario .acciones{
  text-align: center;
}

/*fin formulario*/

.container-md{
  margin: 0 auto;
  background-color: #c0dfdf; 
  padding: 1em; 
  width: 960px;
  text-align: center;
  
  display: flex;
}

.autor{
  border-radius: 0.5em;
  margin-top: 2em;
  margin-left: 3em;
  margin-bottom: 30px;
  padding: 0.5em;
  background-color: #ebf1f1;
  font-size: 18px;
  color:#012e36; 
}
.autor img{
  background-color: #c0dfdf;  
  width: 88%; 
  height: 88%; 
  border: 3px solid gray; 
  border-radius: 50%; 
  margin-top: 10px;
}

